@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@await Html.PartialAsync("~/Views/Shared/_Navbar.cshtml")

<div id="root"></div>

<script type="text/babel">
    class App extends React.Component {
        render(){
            return <h1>Selamm :)</h1>;
        }
    }

    ReactDOM.render(<App />, document.getElementById('root'))

    
</script>